body {
    display: flex;
    margin: 0;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #272729;
    align-items: center;
    justify-content: space-evenly;
    padding: 0% 13%;
    height: 6%;
}

.navbar-link {
    color: #cecece;
    padding: 0px 8px;
    cursor: pointer;
    font-size: 11px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.navbar-link:hover {
    color: #ffffff;
}

.navbar-button {
    padding: 0px 10px;
    cursor: pointer;
    color: #cecece;
    width: 0.9vw;
}
.navbar-button:hover¨{
    color: #ffffff;
}
.navbar-search-button{
    padding: 0px 3px;
    cursor: pointer;
    color: #cecece;
    width: 1.4em;
}


.banner-unicef {
    display: flex;
    flex-direction: row;
    background-color: #f5f5ff;
    align-items: center;
    justify-content: center;
    padding: 20px 0;;
}
.link {
    color: #06c;
    font-size: 16px;
    text-decoration: none;
}

.unicef {
    text-decoration: none;
    margin-right: 1em;
}


.macbook-air {
    background-image: url("../Images/MacBook.png");
    background-repeat: no-repeat;
    background-position: 50%;
    height: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 30%;
}

.macbook {
        font-size: xx-large;
        line-height: 0.5%;
        margin: 0.5em;
        padding: 0%;
    }

.macbook-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.macbookimg {
    width: 100%;

}
.Logoimg {
    width: 15em;
    margin: 0.5em;
}

.iPhone {
    background-image: url("../Images/iPhone.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 180%;
    height: 38vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1%;
}

.iPhoneH {
    font-size: xx-large;
    line-height: 0.1em;
    margin: 0.1em;
    padding: 0%;
}

.iPhoneH2 {
    font-size: x-large;
    line-height: 0.5%;
    margin-top: 0.1em;
}

.iPhone-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.iPhone-text {
    padding-bottom: 23%;
}

footer {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #706c6c;
    background-color: #f5f5ff;
    margin-top: 1.5em;
    padding: 0% 20%;
}
.footerlist {
    padding: 0% 2%;
}

.column { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

}

.column2 {
    display: flex;
    flex-direction: column;
}
   
.column a {
    padding: 4px 0px;
    text-decoration: none;
    color: #706c6c;
    }

.SerCu {
    display: flex;
    flex-direction: column;
}

.EmEdSa {
    display: flex;
    flex-direction: column;
}

.VaAc {
    display: flex;
    flex-direction: column;
}

.column .final {
    display: flex;
    flex-direction: column;
}

.final { 
    line-height: 0.5%;
    padding-top: 5%;
    padding-bottom: 4%;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0.8em;
}

.bottomP {
    padding-right: 3%;
    color: #424245;
    text-decoration: none;
}

.bottomP:hover {
    text-decoration: underline;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.3em;
}

.Spain {
    color: #706c6c;
    text-decoration: none;
    padding-top: 1em;
}

.Spain:hover {
    text-decoration: underline;
}

.link2 {
    color: #06c;
    text-decoration: none;
}